.form-login {
    min-width: 350px;
}

.btn-cadastro {
    background-color: #fff;
    color: #614ea6;
    transition: .1s ease-in;
}

.btn-cadastro:hover {
    background-color: #f21667;
    color: #ffffff;
}