.navbar{
    background-color: #614ea6;
    padding: 1.5rem 3rem;
}

.nav-item:first-child {
    margin-left: 1rem;
}

.nav-item a{
    color: #fff;
    transition: .1s ease-in;
    margin-right: 0.5rem;
    padding: 0.5rem;
}

.nav-item a:hover{
    color: #f21667;
}

.btn-log a{
    color: #614ea6;
    transition: .1s ease-in;
}

.btn-log:hover {
    background-color: #f21667;
    color: #fff;
}

.login a{
    background-color: #fff;
    border-radius: 5px;
    color: #614ea6;
    font-weight: bold;
    transition: .1s ease-in;
}

.login a:hover{
    background-color: #f21667;
    color: #fff;
}