.img-banner{
    width: 100%;
    min-height: 300px;
    max-height: 350px;
}

.box-info{
    background-color: #614ea6;
    color: #fff;
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center; 

}

.flex{
    display: flex;
    justify-content: space-between;
}

.btn-editar i:hover{
    color: #614ea6;
}

.titulo, .visualiacoes{
    color: #614ea6;
}